<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siigs.tes"
    android:versionCode="1"
    android:versionName="TES-Desarrollo" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />
    
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Para obtener mac address -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".TesAplicacion"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- clearTaskOnLaunch="false" permite que no se pierdan diálogos y contexto al iniciar la app desde Home -->
        <activity 
            android:clearTaskOnLaunch="false"
            android:name="com.siigs.tes.PrincipalActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.siigs.tes.ControlActivity"
            android:label="@string/title_seccion_detail"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        
        <provider 
            android:authorities="com.siigs.tes.datos.ProveedorContenido"
            android:multiprocess="true"
            android:name="com.siigs.tes.datos.ProveedorContenido">
        </provider>
        
    </application>

</manifest>
